[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "transmission-rpc"
version = "7.0.8"
description = "Python module that implements the Transmission bittorent client JSON-RPC protocol"
authors = ["Trim21 <i@trim21.me>"]
readme = 'README.md'
repository = 'https://github.com/Trim21/transmission-rpc'
license = 'MIT'
packages = [{ include = 'transmission_rpc' }]
keywords = ['transmission', 'rpc']
classifiers = [
    'Intended Audience :: Developers',
    'Development Status :: 4 - Beta',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3 :: Only',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Python :: Implementation :: CPython',
    'Programming Language :: Python :: Implementation :: PyPy',
]

[tool.poetry.dependencies]
python = "^3.8"
# dependencies
requests = "^2.23.0"
typing-extensions = ">=4.5.0"

[tool.poetry.group.docs.dependencies]
sphinx = { version = "^7.3.7", python = "^3.9" }
furo = { version = "2024.5.6", python = "^3.9" }
sphinx-copybutton = { version = "^0.5.2", python = "^3.9" }
sphinx-github-style = {version = "^1.2.2", python = "^3.9"}

[tool.poetry.group.dev.dependencies]
yarl = "==1.9.4"
# tests
pytest = "==8.2.1"
pytest-github-actions-annotate-failures = "==0.2.0"
coverage = "==7.5.3"

# linter and formatter
pre-commit = { version = "==3.7.1", markers = "implementation_name != 'pypy'", python = "^3.9" }
mypy = { version = "==1.10.0", markers = "implementation_name != 'pypy'", python = "^3.9" }

# stubs
types-requests = "==2.32.0.20240523"
sphinx-autobuild = {version = "2024.4.16", python = "^3.9"}

[tool.pytest.ini_options]
addopts = '-rav -Werror'

[tool.mypy]
python_version = "3.8"
strict = true
disallow_untyped_defs = true
ignore_missing_imports = true
warn_return_any = false
warn_unused_configs = true
show_error_codes = true

[tool.black]
line-length = 120
target-version = ['py38']


[tool.ruff]
target-version = "py38"
extend-exclude = ["docs"]
line-length = 120

[tool.ruff.lint]
select = [
    "B",
    "C",
    "E",
    "F",
    "G",
    "I",
    "N",
    "Q",
    "S",
    "W",
    "BLE",
    "EXE",
    "ICN",
    "INP",
    "ISC",
    "NPY",
    "PD",
    "PGH",
    "PIE",
    "PL",
    "PT",
    "PYI",
    "RET",
    "RSE",
    "RUF",
    "SIM",
    "SLF",
    "TCH",
    "TID",
    "TRY",
    "YTT",
    "UP",
    "FA100",
    "FA102"
]

extend-fixable = ['UP']

ignore = [
    'PLR0911',
    'INP001',
    'N806',
    'N802',
    'N803',
    'E501',
    'BLE001',
    'RUF002',
    'S301',
    'S314',
    'S101',
    'N815',
    'S104',
    'C901',
    'ISC003',
    'PLR0913',
    'RUF001',
    'SIM108',
    'TCH003',
    'RUF003',
    'RET504',
    'TCH001',
    'TRY300',
    'TRY003',
    'TRY201',
    'TRY301',
    'PLR0912',
    'PLR0915',
    'PLR2004',
    'PGH003',
]
