[tool.poetry]
name = "transmission-rpc"
version = "3.0.0a3"
description = "Python module that implements the Transmission bittorent client RPC protocol"
authors = ["Trim21 <i@trim21.me>"]
readme = 'README.md'
repository = 'https://github.com/Trim21/transmission-rpc'
license = 'MIT'
packages = [{ include = 'transmission_rpc' }]
classifiers = [
  'Intended Audience :: Developers',
  'Development Status :: 2 - Pre-Alpha',
  'License :: OSI Approved :: MIT License',
  'Topic :: Communications :: File Sharing',
  'Topic :: Internet',
  'Topic :: Software Development :: Version Control :: Git',
  'Programming Language :: Python :: 3 :: Only',
  'Programming Language :: Python :: 3.6',
  'Programming Language :: Python :: 3.7',
  'Programming Language :: Python :: 3.8',
  'Programming Language :: Python :: Implementation :: CPython',
  'Programming Language :: Python :: Implementation :: PyPy',
]

[tool.poetry.dependencies]
python = "^3.6.1"
# dependencies
requests = "^2.23.0"
yarl = "^1.4.2"
# build cos
sphinx = { version = "==3.1.2", optional = true }
sphinx-rtd-theme = { version = "==0.5.0", optional = true }

[tool.poetry.extras]
docs = ['sphinx', 'sphinx-rtd-theme']

[tool.poetry.dev-dependencies]
# tests
pytest = "==5.4.3"
coverage = "5.1"
# linter and formatter
pre-commit = { version = "==2.5.1", markers = "implementation_name != 'pypy'" }
mypy = { version = "^0.770", markers = "implementation_name != 'pypy'" }
flake8-comprehensions = "==3.2.3"
flake8-bugbear = "==20.1.4"
flake8-mutable = "1.2.0"
yapf = "0.30.0"
typing_extensions = "==3.7.4.2"

[tool.isort]
default_section = 'THIRDPARTY'
indent = '    '
known_first_party = 'transmission_rpc'
length_sort = true
line_length = 100
multi_line_output = 5
no_lines_before = 'LOCALFOLDER'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
