[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "transmission-rpc"
version = "4.0.0-alpha.1"
description = "Python module that implements the Transmission bittorent client JSON-RPC protocol"
authors = ["Trim21 <i@trim21.me>"]
readme = 'README.md'
repository = 'https://github.com/Trim21/transmission-rpc'
license = 'MIT'
packages = [{ include = 'transmission_rpc' }]
keywords = ['transmission', 'rpc']
classifiers = [
    'Intended Audience :: Developers',
    'Development Status :: 4 - Beta',
    'License :: OSI Approved :: MIT License',
    'Topic :: Internet',
    'Programming Language :: Python :: 3 :: Only',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: Implementation :: CPython',
    'Programming Language :: Python :: Implementation :: PyPy',
]

[tool.poetry.dependencies]
python = "^3.8"
# dependencies
requests = "^2.23.0"
# build document
sphinx = { version = "5.2.3", optional = true }
sphinx-rtd-theme = { version = "==1.0.0", optional = true }
pydantic = "^1.10.2"

[tool.poetry.extras]
docs = ['sphinx', 'sphinx-rtd-theme']

[tool.poetry.dev-dependencies]
yarl = "==1.8.1"
# tests
pytest = "==7.1.3"
coverage = "==6.5.0"
# linter and formatter
pre-commit = { version = "==2.20.0", markers = "implementation_name != 'pypy'" }
mypy = { version = "==0.981", markers = "implementation_name != 'pypy'" }
flake8 = "==5.0.4"
flake8-comprehensions = "==3.10.0"
flake8-bugbear = "==22.9.23"
flake8-mutable = "1.2.0"
pytest-github-actions-annotate-failures = "==0.1.7"
flake8-pytest-style = "==1.6.0"
sphinx-autobuild = "2021.3.14"
# stubs
types-requests = "==2.28.11"
pytz = "2022.2.1"

[tool.isort]
default_section = 'THIRDPARTY'
indent = '    '
known_first_party = 'transmission_rpc'
length_sort = true
line_length = 88
multi_line_output = 3
no_lines_before = 'LOCALFOLDER'
use_parentheses = true
include_trailing_comma = true

[tool.pytest.ini_options]
addopts = '-rav -Werror'

[tool.mypy]
disallow_untyped_defs = true
ignore_missing_imports = true
warn_return_any = false
warn_unused_configs = true
show_error_codes = true
