[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "transmission-rpc"
version = "4.1.0"
description = "Python module that implements the Transmission bittorent client JSON-RPC protocol"
authors = ["Trim21 <i@trim21.me>"]
readme = 'README.md'
repository = 'https://github.com/Trim21/transmission-rpc'
license = 'MIT'
packages = [{ include = 'transmission_rpc' }]
keywords = ['transmission', 'rpc']
classifiers = [
    'Intended Audience :: Developers',
    'Development Status :: 4 - Beta',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3 :: Only',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: Implementation :: CPython',
    'Programming Language :: Python :: Implementation :: PyPy',
]

[tool.poetry.dependencies]
python = "^3.8"
# dependencies
requests = "^2.23.0"
# build document
sphinx = { version = "==6.1.3", optional = true }
sphinx-rtd-theme = { version = "==1.2.0", optional = true }

[tool.poetry.extras]
docs = ['sphinx', 'sphinx-rtd-theme']

[tool.poetry.group.dev.dependencies]
python-dotenv = "0.21.1"

yarl = "==1.8.2"
# tests
pytest = "==7.2.1"
coverage = "==7.1.0"
# linter and formatter
pre-commit = { version = "==3.0.4", markers = "implementation_name != 'pypy'", python = "^3.9" }
mypy = { version = "==1.0.1", markers = "implementation_name != 'pypy'", python = "^3.9" }
flake8 = { version = "6.0.0", python = "^3.9" }
flake8-comprehensions = "==3.10.1"
flake8-bugbear = "==23.2.13"
flake8-mutable = "1.2.0"
flake8-pyproject = "1.2.2"
pytest-github-actions-annotate-failures = "==0.1.8"
flake8-pytest-style = "==1.7.2"
sphinx-autobuild = "2021.3.14"
# stubs
types-requests = "==2.28.11.14"
pytz = "==2022.7.1"

[tool.isort]
default_section = 'THIRDPARTY'
indent = '    '
profile = 'black'
known_first_party = 'transmission_rpc'
length_sort = true
line_length = 120
no_lines_before = 'LOCALFOLDER'
use_parentheses = true
include_trailing_comma = true

[tool.pytest.ini_options]
addopts = '-rav -Werror'

[tool.mypy]
disallow_untyped_defs = true
ignore_missing_imports = true
warn_return_any = false
warn_unused_configs = true
show_error_codes = true

[tool.flake8]
max-line-length = 88
ignore = ['C103', 'C111', 'R903', 'W503', 'W504', 'C812', 'C813', 'C815', 'C819', 'B008', 'E265', 'E501']
exclude = ['.venv', '.git', '__pycache__', 'docs/source/conf.py', 'old', 'build', 'dist', 'tmp', 'api']
ban-relative-imports = 'parents'
