name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        transmission: [ 'version-3.00-r8', '4.0.3' ]
        python: [ "3.7", "3.8", "3.9", "3.10", "3.11" ]

    services:
      transmission:
        image: linuxserver/transmission:${{ matrix.transmission }}
        ports:
          - 8080:9091
          - 6881:6881
        env:
          UID: '1000'
          TZ: Etc/UTC
          USER: admin
          PASS: my-secret-password

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - uses: trim21/setup-poetry@dist/v1

      - uses: trim21/install-poetry-project@dist/v1

      - name: test
        run: coverage run -m pytest
        env:
          TR_PORT: 8080
          TR_USER: admin
          TR_PASSWORD: my-secret-password

      - uses: codecov/codecov-action@v3
        with:
          flags: '${{ matrix.python }}'
