name: lint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: trim21/setup-poetry@dist/v2

      - uses: trim21/install-poetry-project@dist/v2

      - uses: liskin/gh-problem-matcher-wrap@v3
        with:
          action: add
          linters: mypy

      - name: mypy
        run: mypy --show-column-numbers transmission_rpc

  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: trim21/setup-poetry@dist/v2

      - uses: trim21/install-poetry-project@dist/v2

      - run: ruff check . --output-format=github

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: trim21/setup-poetry@dist/v2
      - uses: trim21/install-poetry-project@dist/v2
      - uses: trim21/actions/pre-commit@master
